[submodule "detector"]
	path = detector
	url = git@github.com:fxs1l/detector.git
[submodule "buoy-watch-karagathon"]
	path = buoy-watch-karagathon
	url = https://github.com/RaphCondor/buoy-watch-karagathon.git
[submodule "buoywatch-receiver"]
	path = buoywatch-receiver
	url = https://github.com/fxs1l/buoywatch-receiver.git
	branch = master
